body {
    margin: 0px;
    background: #333333;
}

h1, p { color: darkorange; }

#side_square {
    float: left;
    margin: 0px 0px 0px 100px;
    width: 100px;
    height: 100vh;
    background: darkorange;
}

#content {
    float: left;
    position:relative;
    padding-top: 50px;
    padding-left: 10px;
}