body { margin: 0px; }

h1, p { color: #99FF00; }

#side_square {
    float: left;
    margin: 0px 0px 0px 100px;
    width: 100px;
    height: 100vh;
    background: #99FF00;
}

#content {
    float: left;
    position:relative;
    padding-top: 50px;
    padding-left: 10px;
}